@font-face {
  font-family: "fixedsys";
  src: url("./font/fixedsys.woff2") format("woff2");
}

@font-face {
  font-family: "sans-13";
  src: url("./font/sans-13.woff2") format("woff2");
}

@font-face {
  font-family: "sans-16";
  src: url("./font/sans-16.woff2") format("woff2");
}

@font-face {
  font-family: "sans-20";
  src: url("./font/sans-20.woff2") format("woff2");
}

@font-face {
  font-family: "sans-24";
  src: url("./font/sans-24.woff2") format("woff2");
}

@font-face {
  font-family: "cour-16";
  src: url("./font/cour-16.woff2") format("woff2");
}
