@import url("./fonts.css");

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-synthesis: none;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

pixel-perfect:not(:defined) {
  visibility: hidden;
}

.page {
  padding: 8px;
}

@media (min-width: 480px) {
  .page {
    padding: 16px;
  }
}

a {
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.mb-1 {
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.font-sans-13 {
  font-family: "sans-13";
  font-size: 13px;
}

body,
.font-sans,
.font-sans-16 {
  font-family: "sans-16";
  font-size: 16px;
}

.font-sans-20 {
  font-family: "sans-20";
  font-size: 20px;
}

.font-mono,
.font-mono-16 {
  font-family: "cour-16";
  font-size: 16px;
  white-space: pre-wrap;
}
