@import url("./fonts.css");

:root {
  --us: 1;
  --gs: 1;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-synthesis: none;
}

.px-container {
  transform-origin: 0 0;
  transform: scale(var(--gs));
  width: calc(100% / var(--gs));
  height: calc(100% / var(--gs));

  box-sizing: border-box;
  padding: calc(var(--us) * 8px);
}

a {
  text-decoration-thickness: calc(var(--us) * 1px);
  text-decoration-skip-ink: none;
}

.mb-1 {
  margin-bottom: calc(var(--us) * 8px);
}

.mt-4 {
  margin-top: calc(var(--us) * 16px);
}

.font-sans-13 {
  font-family: "sans-13";
  font-size: calc(var(--us) * 13px);
}

.px-container,
.font-sans,
.font-sans-16 {
  font-family: "sans-16";
  font-size: calc(var(--us) * 16px);
}

.font-sans-20 {
  font-family: "sans-20";
  font-size: calc(var(--us) * 20px);
}

.font-mono,
.font-mono-16 {
  font-family: "cour-16";
  font-size: calc(var(--us) * 16px);
  white-space: pre-wrap;
}
